.Clean {
    all:unset
}

.LogoContainer {
    display: flex;
    gap: 0.75rem;
    font-weight: 700;
    cursor: pointer;
    color: white;
    flex-direction: column;
}

.Logo{
    display: flex;
    gap: 10px;
    font-size: clamp(1.2rem, 1.7vw, 2.5rem);
}

.LogoIcon {
    width: 28px;
    height: 28px;
    fill: #0ea5e9;
}

.LogoText{
    color: #94a3b8;
    font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.CopyRight {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    color: #94a3b8;
}

.Title {
    font-size: clamp(1.2rem, 1.1vw, 2rem);
    margin-bottom: 10px;
}

.Container{
    position: relative;
    display: flex;
    color: #fff;
    width: 100%;
    justify-content: space-around;
    padding: 30px;
    max-width: 100vw;
    backdrop-filter: blur(5px); 
}

.Links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.LinkTextContainer {
    flex-direction: column;
    text-decoration: none;
    color: #94a3b8;
    font-weight: 500;
    font-size: clamp(1.1rem, 1.1vw, 2rem);
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.LinkText{
    cursor: pointer;
}

.LinkText:hover,
.LinkText:focus {
    color: #0ea5e9;
}

.ActiveLink {
    color: #0ea5e9;
    border-bottom-color: #0ea5e9;
}

.LinkIconContainer{
    text-decoration: none;
    color: #94a3b8;
    font-weight: 500;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.SocialIcon {
    width: 3.5vw;
    height: 3.5vh;
    color: #ffffff;
    transition: color 0.3s ease;
}

.SocialIcon:hover {
    color: #0ea5e9; 
}